<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>main</p>
    <table>
      <tr>
        <td>VARTYPE</td>
        <td><%- env['VARTYPE'] %></td>
      </tr>
      <tr>
        <td>TYPE</td>
        <td><%- env['TYPE'] %></td>
      </tr>
    </table>
  </body>
  <script>
    console.table(<%- JSON.stringify(env) %>)
  </script>
</html>
